*.html
*.RData
*.Rhistory
*.zip
*.xlsx
*.csv
*.pdf
!data/state_reference.csv
!data/FRS_ids.csv
!data/needs_v6_november_2018_reference_case_0.xlsx
!examples/sample_data/camd_sample_data.csv
!manual_matches.xlsx
!epa_eia_crosswalk.csv
!epa_eia_crosswalk.xlsx
!field_descriptions.csv
.Rproj.user
api_keys/epa_api_key.txt
data/outputs/
data/raw_data/
r_epa_eia_crosswalk_files/
