*.html
*.RData
*.Rhistory
*.zip
*.xlsx
*.csv
*.pdf
!data/state_reference.csv
!examples/sample_data/camd_sample_data.csv
!manual_matches.xlsx
!epa_eia_crosswalk.csv
!epa_eia_crosswalk.xlsx
!field_descriptions.csv
.Rproj.user
